---
import { dateString } from '~/utils'
import { renderComponentToString } from 'astro/runtime/server/render/component.js'
import { render, type CollectionEntry } from 'astro:content'
import { turkishSlugify } from '~/utils/slugify'

interface Props {
  post: CollectionEntry<'posts'>
  class?: string
}

const { post, class: className } = Astro.props
const { remarkPluginFrontmatter } = await render(post)
const { minutesRead } = remarkPluginFrontmatter
const seriesSlug = post.data.series ? turkishSlugify(post.data.series) : undefined
const published = (post.data.published ?? post.data.pubDate ?? post.data.date) as Date
---

<div class:list={[className, 'text-foreground/80']}>
  <time>{dateString(published)}</time>
  {
    post.data.author && (
      <span class="before:content-['::'] before:inline-block before:mx-0.5">
        {post.data.author}
      </span>
    )
  }
  {
    minutesRead && (
      <span class="before:content-['::'] before:inline-block before:mx-0.5">
        {minutesRead.replace(/min read/i, 'dk okuma')}
      </span>
    )
  }
  {
    post.data.series && seriesSlug && (
      <span class="before:content-['::'] before:inline-block before:mx-0.5">
        <a
          href={`/series/${seriesSlug}`}
          class="inline-flex items-center gap-1 rounded-full border border-accent/30 bg-accent/8 px-3 py-1 text-xs font-semibold uppercase tracking-wide text-accent hover:border-accent/60 hover:bg-accent/12"
        >
          Seri: {post.data.series}
        </a>
      </span>
    )
  }
</div>
