---
import siteConfig from '~/site.config'

const r = siteConfig.remark42
if (!r) {
  throw new Error('Remark42 configuration is missing in site.config.ts')
}
const host = r.host
const siteId = r.site_id
const components = r.components && r.components.length > 0 ? r.components : ['embed']
const remarkConfigJson = JSON.stringify({ host, site_id: siteId, components })
---

<!-- 1) Global config -->
<script is:inline>
  {`// Sadece bu iki değeri değiştireceksin: host ve site_id\nwindow.remark_config = ${remarkConfigJson};`}
</script>

<!-- 2) Loader: ES module destekliyse .mjs, yoksa .js yükler -->
<script is:inline>
!function (components, d) {
  var s = d.createElement("script"),
      isModuleCapable = ("noModule" in s),
      ext = isModuleCapable ? ".mjs" : ".js";
  if (isModuleCapable) s.type = "module";
  s.defer = true; s.async = true;
  // @ts-ignore
  s.src = remark_config.host + "/web/" + (components || ["embed"])[0] + ext;
  (d.head || d.body).appendChild(s);
}(remark_config.components, document);
</script>

<!-- 3) Yorumların görüneceği yer -->
<div id="remark42"></div>
